# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
/coverage
/.vitest

# Production
/build
/dist

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS-specific
Thumbs.db
.cache/
.DS_Store
*.pem

# Backups & Temporary files
.backup/
*.bak
*.tmp
*~

# Build caches
.eslintcache
