
body {
    background-color: rgb(255, 242, 232) ;
}

h1 {
    color: rgba(11, 103, 241, 0.897);
    text-align: center;
}

.how-to ul li{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    text-align: center;
}

.how-to p {
    font-size: large;
}

.how-to i {
    color: rgba(11, 103, 241, 0.897);
    
}

.h3 {
    float: left;
}

.is-head  {
    color: rgba(11, 103, 241, 0.897);
    font-weight: bold;
    text-align: center;
}

.is-head-container{
    border:5px solid white;
    margin: 10px 0px;
}

.is-head-container ul {
    text-decoration: none;
    list-style: none;   
}

.is-head-container ul li{
    display: inline-flex;
    flex-direction: column;
    width: 33%;
    margin: auto;
    text-align: center;
}


.is-head-command {
    color:white;
    font-size:large;
    font-weight: bold;
    border: 1px solid rgba(11, 103, 241, 0.897);
    background-color: rgba(11, 103, 241, 0.897);
    
}