body {
    margin: 0px ;
    background-color: rgb(255, 242, 232);
}

#navbar {
    background-color: #822627;
    color:white;
    display: flex;
    width: 100%;
    font-size : 20px;
    height: 5%;
}

#navbar-explorer {
    margin: auto 20px;
    text-decoration: none;
    color:white;
}

#navbar-dots {
    margin: auto 0;
    text-decoration: none;
    color:white;
}

#navbar-dots a {
    margin: auto;
    margin-right: 10px;
    text-decoration: none;
    color:white;
}

.tools-icons{
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
    color:white;
    border: 0px solid black;
    background-color: inherit;
}

.tools-icons:hover{
    color:#26e241;
}

#register-table{
    height: 75vh;
}

.navbar-commands {
    display:flex;   
    margin: 0px 10px;
}

.command-icons {
    background-color: #822627; 
    border: none;
    margin: auto 10px;
    font-size:large;
    text-decoration: none;
    color:white;
}

.command-icons:hover{
    color:#26e241;
}

#title-page{
    text-align: center;
    margin: auto;
    color:white;
}

.div-parent-editor{
    height: 80vh;
    display:flex;
    margin: 5px;
}

.editor{
    width:50%;
    border-radius: 25px;
    border: solid black 1px;
    background-color: white;
}

.text-editor-txt { 
    text-align: center;
    background-color: white;
    border-radius: 25px;
    color: rgb(39,40,34);
    text-align: center;
    margin: 5px;
}

#registers-section {
    width: 50%;
    background-color: white;
    margin-left: 1%;
    border-radius: 25px;
    border: solid black 1px;
}

#registers-header {
    width: 100%;
}

#registers-header h3 {
    color:rgb(39,40,34);
    text-align: center;
    margin: 5 auto;
}

#register-download{
    margin: auto 0;
}

#registers,
#memory {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
}

#registers td,
#memory td {
    vertical-align:middle;
    text-align: center;
    font-weight: bold;
    
}
#registers input.init-value {
    color: #777;
    width: 80%;
}
#registers-head th{
    width: 10%;
    text-align: center;
    border: 2px solid rgb(47,49,41);
}

#PC {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    size: 33%;
    border-radius: 25px;
    border: solid black 1px;
}

#text-try {
    color:white;
    width: 100%;
    margin-top: 5px;
    display: inline-flex;
}

#last_instruction{
    margin: 0 auto;
    width: 48%;
    background-color: white;
    border-radius: 25px;
    border:solid black 1px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}


#register-download-bt{
    margin: auto;
}

#register-download-bt button{
    margin: auto;
    border-radius: 25px;
    font-size: 15px;
    background-color: #822627;
    color: white;
    border: solid #822627;
    display: inline-flex;
}

#register-download-bt p {
    margin: 0px 10px 0px 0px;
}

#registers-header{
    display: inline-flex;
}


#delayHelp{
    display: inline-flex;
    width: 48%;
    background-color: white;
    border-radius: 25px;
    border:solid black 1px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}

#delayHelp a{
    margin: auto auto auto 5px;
}

#delay{
    width: 40%;
    margin: auto 10%;
    border-radius: 25px;
    border: black 0px solid;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#clock-icon {
    margin: auto 10px;
}


#memory-area {
    width: 95%;
    margin: 5px auto ;
    border-radius: 25px;
    border: solid black 1px;
    background-color: white;
}

#navbar-dots a:hover{
    color:#26e241;
}


#memory-area-header{
    display: inline-flex;
    margin: 10px 10px;
    width: 100%;
}

#memory-address-head{
    margin: 0 auto;
    color: rgb(39,40,34);
    font-size: 20px;
    font-weight: bold;
}

#memory-address-head input {
    margin: 0 10px;
}

.memory-btn{
    margin: auto 5px;
    background-color: #822627;
    border-radius: 25px;
    border: 0px;
    font-size: 15px;
    color: white;
    padding: auto;
}

#memory-btn-section{
    margin: 0 auto;
}

#memory-table {
    width: 100%;
    margin: 5px auto;
}

#memory-head{ 
    width: 80%;
    margin: 5px auto;
}

#memory-head th{ 
    width: 80%;
    margin: 5px auto;
    width: 10%;
    text-align: center;
    border: 2px solid rgb(47,49,41);
}


#memory-table-f{
    width: 80%;
    margin: 0 auto;
}

#mmio-area {
    width: 95%;
    margin: 5px auto ;
    border-radius: 25px;
    border: solid black 1px;
    background-color: white;
}

#mmio-area-head{
    display: inline-flex;
    width: 100%;
}

#display-txt {
    margin : 0 auto;
}

#display-txt h1 {
    text-align: center;
}

#display-txt p {
    text-align: center;
}

#keyboard-txt {
    margin : 0 auto;
}

#keyboard-txt h1 {
    text-align: center;
}

#keyboard-txt p {
    text-align: center;
}

#mmio-area-body{
    display: inline-flex;
    width: 100%;
    height: 20vh;
}

#display-output{
    margin: 0 auto;
    width: 100%;
    margin: 0px 20px;
}

#keyboard-input{
    margin: 0 auto;
    padding: 0 auto;
    margin: 0px 20px;
    width: 100%;
}

#display {
    width: 100%;
    height: 19vh;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
    margin: 0 auto;
    resize: none;
}

#keyboard {
    width: 100%;
    height: 19vh;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
    resize: none;
}






